.thumbnail {
  width: 160px;
  height: 90px;
  background: linear-gradient(to right, #a44f30, #c4a092);
  opacity: 0.85;
  border-radius: 12px 12px 0px 0px;
}

.course-item {
}

.course-text {
  display: flex;
  padding-top: 6px;
  margin-top: 0px;
  width: 160px;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.courses {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.list {
}

.enroll-button {
  height: 24px;
  margin-top: 32px;
  background-color: #c4a092;
  color: white;
  border-radius: 12px;
}
