@import url("./admin.css");
@import url("./modal.css");

.App {
  max-width: 960px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}
.colour_block {
  width: 240px;
  height: 240px;
  background-color: coral;
}
.input-field {
  display: block;
  padding: 8px;
}
