@import url("./admin.css");
@import url("./modal.css");

.App {
  max-width: 960px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.input-field {
  display: block;
  padding: 8px;
}
